.container{
    text-align: center;
    background-color: rgb(192, 245, 168);
    width: 20%;
    border-radius: 10px;
}
input{
    margin-top: 10px;
    font-size: 17px;
}

button{
    background-color: rgb(245, 162, 84);
    font-size: 20px;
    border-radius: 4px;
    margin-top: 10PX;
}
#resultadoX1{
    text-align: left;
    margin-left: 15px;
}
#resultadoX2{
    text-align: left;
    margin-left: 15px;
}
