body{
    background-image: linear-gradient(to left,rgb(165, 76, 76), rgb(255, 0, 0) );
}

.container{
    text-align: center;
    background-color: rgba(1, 0, 0, 0.803);
    width: 25%;
    margin-left: 32%;
    margin-top: 14%;
    color: white;
}
input{
    margin-top: 10px;
    font-size: 17px;
}

button{
    background-color: rgb(225, 63, 31);
    font-size: 20px;
    border-radius: 4px;
    margin-top: 10PX;
}
#resultadoX1{
    text-align: left;
    margin-left: 15px;
}
#resultadoX2{
    text-align: left;
    margin-left: 15px;
}
